<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="Internal nuget.org cache" value="http://ninugetsvr.amer.corp.natinst.com/nuget/internal-nuget.org-cache/" />
    <add key="NI Internal Pre-Release Feed" value="http://ninugetsvr.amer.corp.natinst.com/nuget/packages-prerelease/" />
    <add key="NI Internal Release Feed" value="http://ninugetsvr.amer.corp.natinst.com/nuget/packages/" />
  </packageSources>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
</configuration>